*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: #18ffff;
  --clr-primary-light: #adffff;
  --clr-primary-dark: #091034;
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
  --clr-gray600: #2a324b;
  --clr-gray700: #161d34;
  --clr-bg: #060b23;
}

body {
  font-family: "Convergence", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg);
}

.form {
  position: relative;
  width: 100%;
  max-width: 20rem;
}

.form__input {
  width: 100%;
  padding: 0.8em;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid var(--clr-gray300);
  border-radius: 0.5rem;
  background: none;
  color: white;
  outline: none;
}

.form__input:hover {
  border-color: var(--clr-primary-light);
}

.form__input:focus {
  border-color: var(--clr-primary);
}

.form__label {
  color: white;
  position: absolute;
  top: 0.8em;
  left: 1em;

  cursor: text;
  transition: top 200ms ease-in, font-size 200ms ease-in;

  user-select: none;

  background-color: var(--clr-bg);
  padding: 0 0.5em;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  top: -0.5em;
  font-size: 0.8em;
}
